* {
    box-sizing: border-box;
}

.tabuleiro {
    background-color: goldenrod;
    padding: 10px;
    display: flex;
    gap: 5px;
}

.casa {
    background-color: aquamarine;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disco {
    background-color: black;
    border: 4px solid white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}